header {
    -webkit-app-region: drag;
}

#content {
    margin: 30% auto;
    width: 88%;
    white-space: pre-wrap;
    cursor: inherit;
    line-height: initial;
    text-align: justify;
}

#content * {
    font-family: inherit;
    overflow: inherit;
    white-space: pre-wrap;
}

#content a {
    color: #FFF;
}

/*:-webkit-full-screen .toolbar {
    display: none;
}*/

:-webkit-full-screen #content-container {
    overflow-y: hidden;
}

.window-content {
    width: 100%;
}

.message {
    position: fixed;
    color: #0AF;
    box-shadow: 0 0 4px grey;
    border-radius: 3px;
    background: rgba(96,96,96,0.8);
    z-index: 99;
    width: 60%; margin: 0 20%;
    top: 160px;
    font-size: 1.2em;
    text-align: center;
    left: 0;
}

#warning {
    color: #FF0;
}

.hide { display: none; }
.left { float: left; }
.right { float: right; }

body {
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0px;
}

@media print {
    html {
	background-color: #FFF;
    }
    #content {
	color: #000 !important;
	background-color: #FFF !important;
	margin: 10px !important;
	font-size: 0.95em !important;
    }
}

.reset-formatting {
    font-weight: normal;
    font-style: normal;
    text-decoration: none;
}

.bold { font-weight: bold; }
.italic { font-style: italic; }
.underline { text-decoration: underline; }
.left-align { text-align: left; }
.right-align { text-align: right; }
.center-align { text-align: center; }
